{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Hacker!!!</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/hacker_3.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}